// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bg-color-white {
    background-color: white;
}

.margin-lr-10px {
    margin: 0 10px;
}

.margin-tb-20px {
    margin: 20px 0;
}

.padding-lr-15px {
    padding: 0 15px;
}

.margin-10px {
    margin: 10px;
}

.padding-top-10px {
    padding-top: 10px;
}

